# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=isi_url_supabase_anda_disini
NEXT_PUBLIC_SUPABASE_ANON_KEY=isi_anon_key_supabase_disini
SUPABASE_SERVICE_ROLE_KEY=isi_service_role_key_disini

# Google Gemini AI
GEMINI_API_KEY=isi_api_key_gemini_disini